/**
 * Created by Yury on 20.01.2022.
 */

:host {
    display: table-row;
}

:host(:hover) {
    box-shadow: inset 0 -1px 0 #e5e5e5, inset 0 1px 0 #e5e5e5;
    background-color: #f3f3f3;
}

.edit-button {
    display: none;
}

td.slds-cell-edit:hover .edit-button {
    display: block;
}

td:hover {
    background-color: #fff;
}

.cell-selected,
td:hover.cell-selected {
    background-color: var(--lwc-colorBackgroundHighlight,rgb(250, 255, 189))
}

.slds-cell-edit {
    width: 50%;
}

.slds-cell-edit > span {
    max-height: 15px;
}