<!--
 - Created by Yury on 20.01.2022.
 -->

<!-- Inline Edit Table Row -->
<template>
    <td class={cellName} data-label="Account Name">
        <span class="slds-grid slds-grid_align-spread slds-m-left_medium">
            <template if:true={editName}>
                <lightning-input type="text" variant="label-hidden" label="" value={account.Name} onchange={handleName}></lightning-input>
            </template>

            <template if:false={editName}>
                <span class="slds-truncate" title={account.Name}>{account.Name}</span>
            </template>

                <lightning-button-icon
                        class="edit-button"
                        icon-name="action:edit"
                        variant="container"
                        size="x-small"
                        value="name"
                        title={editTitle}
                        onclick={handleEdit}
                        disabled={isEditing}>
                </lightning-button-icon>
          </span>
    </td>
    
    <td class={cellRating} role="gridcell" data-label="Rating">
        <span class="slds-grid slds-grid_align-spread">
            <template if:true={editRating}>
                <lightning-combobox variant="label-hidden" label="" value={account.Rating} options={wiredRatingPicklist.values} onchange={handleRating}></lightning-combobox>
            </template>

            <template if:false={editRating}>
                <span class="slds-truncate" title={account.Rating}>{account.Rating}</span>
            </template>
            
                <lightning-button-icon
                        class="edit-button"
                        icon-name="action:edit"
                        variant="container"
                        size="x-small"
                        value="rating"
                        title={editTitle}
                        onclick={handleEdit}
                        disabled={isEditing}>
                </lightning-button-icon>
          </span>
    </td>
    <td data-label="Delete">
        <div class="slds-truncate" title="Delete">
            <lightning-button-icon
                    icon-name="action:delete"
                    variant="container"
                    size="small"
                    onclick={handleDelete}
                    disabled={isEditing}>
            </lightning-button-icon>
        </div>
    </td>
</template>