<!--
 - Created by Yury on 18.01.2022.
 -->

<!-- Auto Save Leads -->
<template>
    <div class="slds-card">
        <div class="slds-card__body slds-card__body_inner">

            <template if:true={error}>
                {error}
            </template>

            <div class="leads-datatable">
                <lightning-datatable
                        key-field="Id"
                        data={data}
                        oncellchange={handleInlineEdit}
                        hide-checkbox-column
                        columns={columns}
                        suppress-bottom-bar>
                </lightning-datatable>
            </div>
        </div>
    </div>
</template>