<!--
 - Created by Yury on 17.01.2022.
 -->

<!-- New Contact Modal -->
<template>
    <template if:true={visible}>
        <div class="slds-container_small">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close"
                                onclick={handleClickCancel}>

                            <lightning-icon icon-name="utility:close"
                                            alternative-text="close"
                                            variant="inverse"
                                            size="medium" ></lightning-icon>

                            <span class="slds-assistive-text">Close</span>
                        </button>

                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Contact</h2>
                    </header>
                    <lightning-record-edit-form object-api-name="Contact" onsuccess={handleSuccess}>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <lightning-messages> </lightning-messages>
                            <lightning-input-field field-name="FirstName"> </lightning-input-field>
                            <lightning-input-field field-name="LastName"> </lightning-input-field>
                            <lightning-input-field field-name="Email"> </lightning-input-field>
                            <lightning-input-field field-name="AccountId"> </lightning-input-field>
                            <lightning-input-field field-name="MobilePhone"> </lightning-input-field>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button variant="neutral"
                                              name="cancel"
                                              label="Cancel"
                                              title="Cancel"
                                              onclick={handleClickCancel} ></lightning-button>
                            <lightning-button variant="brand"
                                              name="confirm"
                                              class="slds-m-left_small"
                                              label="Save"
                                              title="Save"
                                              type="submit"
                            ></lightning-button>
                        </footer>
                    </lightning-record-edit-form>

                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>