<!--
 - Created by Yury on 20.01.2022.
 -->

<!-- Inline Edit Table -->
<template>
    <div class="slds-card">
        <div class="slds-card__body slds-card__body_inner">

            <template if:true={error}>
                {error}
            </template>

            <div class="accounts-datatable">
                <lightning-datatable
                        key-field="Id"
                        data={data}
                        onsave={handleSave}
                        hide-checkbox-column
                        columns={columns}
                        draft-values={saveDraftValues}
                        onrowaction={callRowAction}>
                </lightning-datatable>
            </div>
        </div>
    </div>
</template>