<!--
 - Created by Yury on 06.01.2022.
 -->

<!-- Search Filter -->
<template>
    <div class="slds-card">
        <div class="slds-card__body slds-card__body_inner">

            <template if:true={error}>
                {error}
            </template>

            <div class="contacts-datatable-header">
                <div class="slds-grid">
                    <lightning-input type="search"
                                     class="slds-m-bottom_small"
                                     label="Search by name"
                                     value={name}
                                     onchange={handleChangeName}>
                    </lightning-input>
                    <lightning-button label="Filter"
                                      title="Filter Button"
                                      onclick={handleFilter}
                                      class="slds-m-left_x-small slds-m-bottom_small slds-align-bottom">
                    </lightning-button>
                </div>

                <lightning-button label="New"
                                  title="New Contact Button"
                                  variant="brand"
                                  onclick={handleNewContact}
                                  class="slds-m-left_x-small slds-m-bottom_small slds-align-bottom">
                </lightning-button>
            </div>
            <div class="contacts-datatable">
                <lightning-datatable
                        key-field="id"
                        data={data}
                        hide-checkbox-column
                        columns={columns}
                        onloadmore={handleLoadMore}
                        enable-infinite-loading
                        load-more-offset={offsetDefault}
                        onrowaction={callRowAction}>
                </lightning-datatable>
            </div>
        </div>
    </div>

    <c-confirmation-modal title="Delete Contact"
                          message="Are you sure you want to delete this contact?"
                          confirm-label="Delete"
                          cancel-label="Cancel"
                          visible={isConfirmationModalVisible}
                          onconfirm={handleConfirmationModal}
                          oncancel={closeConfirmationModal}>
    </c-confirmation-modal>

    <c-new-contact-modal visible={isNewContactModalVisible}
                         oncancel={closeNewContactModal}
                         onnew={addNewContact}>
    </c-new-contact-modal>
</template>