/**
 * Created by Yury on 01.12.2021.
 */

.spinner-size-medium {
	min-height: 4rem;
}

.slds-spinner_large {
	position: relative;
}

.fields-table{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1em;
}

.fields-table-cell {
	padding: 0.75rem;
	border-radius: 0.25rem;
	border: 1px solid #dddbda;
}