<!--
 - Created by Yury on 01.12.2021.
 -->

<!-- Technical Test -->
<template>
	<div class="slds-card">
		<template if:false={isLoading}>
			<div class="slds-card__header slds-grid">
				<header class="slds-media slds-media_center slds-align_absolute-center">
					<lightning-combobox
						class="slds-m-bottom_x-small"
						label="Object"
						placeholder="Select Object"
						options={objectsOptions}
						onchange={handleChangeObject}
					>
					</lightning-combobox>
				</header>
			</div>

			<div class="slds-card__body slds-card__body_inner">
				<template if:true={showObjectInfo}>
					<div class="slds-m-around_medium slds-box_border">
						<div class="slds-m-around_medium">
							<p><span class="slds-text-title_bold">Label: </span>{objectInfo.label}</p>
							<p><span class="slds-text-title_bold">Api Name: </span>{objectInfo.name}</p>
							<template if:true={objectInfo.keyPrefix}>
								<p><span class="slds-text-title_bold">Key Prefix: </span>{objectInfo.keyPrefix}</p>
							</template>
							<p><span class="slds-text-title_bold">Is Accessible: </span>{objectInfo.accessible}</p>
							<p><span class="slds-text-title_bold">Is Updatable: </span>{objectInfo.updateable}</p>
							<p><span class="slds-text-title_bold">Is Custom: </span>{objectInfo.custom}</p>
							<p><span class="slds-text-title_bold">Is Queryable: </span>{objectInfo.queryable}</p>
						</div>
					</div>

					<template if:true={showFieldsInfo}>
						<div class="slds-m-around_medium fields-table">
							<template for:each={fieldsInfo} for:item="field">
								<div key={field.key} class="fields-table-cell">
									<p class="slds-truncate" title={field.label}><span class="slds-text-title_bold">Label: </span>{field.label}</p>
									<p class="slds-truncate" title={field.name}><span class="slds-text-title_bold">Name: </span>{field.name}</p>
									<p class="slds-truncate" title={field.accessible}><span class="slds-text-title_bold">Is Accessible: </span>{field.accessible}</p>
								</div>
							</template>
						</div>
					</template>
				</template>

				<template if:true={isLoadingObject}>
					<div class="spinner-size-medium slds-is-relative">
						<div class="slds-spinner slds-spinner_medium">
							<span class="slds-assistive-text">Loading</span>
							<div class="slds-spinner__dot-a"></div>
							<div class="slds-spinner__dot-b"></div>
						</div>
					</div>
				</template>
			</div>
		</template>

		<template if:true={isLoading}>
			<div class="spinner-size-medium">
				<div class="slds-spinner slds-spinner_medium">
					<span class="slds-assistive-text">Loading</span>
					<div class="slds-spinner__dot-a"></div>
					<div class="slds-spinner__dot-b"></div>
				</div>
			</div>
		</template>
	</div>
</template>