<!--
 - Created by Yury on 20.01.2022.
 -->

<!-- Inline Edit Table Custom -->
<template>
    <div class="slds-card">
        <div class="slds-card__body slds-card__body_inner">

            <template if:true={error}>
                {error}
            </template>

            <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col">
                        <div class="slds-truncate" title="Account Name">Account Name</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Rating">Rating</div>
                    </th>
                    <th class="row-action-delete" scope="col">
                        <div class="slds-truncate" title="Delete"></div>
                    </th>
                </tr>
                </thead>

                <tbody>
                <template for:each={data} for:item="acc">
                    <c-inline-edit-table-row
                            key={acc.Id}
                            account={acc}
                            wired-rating-picklist={wiredRatingPicklist.data}
                            is-editing={isEditing}
                            ondelete={deleteAccount}
                            onedit={handleEdit}
                            onupdate={handleChange}>
                    </c-inline-edit-table-row>
                </template>
                </tbody>
            </table>
            <template if:true={isEditing}>
                <footer class="slds-modal__footer" style="display: flex; justify-content: center">
                    <button class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
                </footer>
            </template>
        </div>
    </div>
</template>